* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
}
ul,
ol {
  list-style: none;
}

/*/////////////////////////*/

header {
  background-color: rgb(255, 148, 109);
  font-size: 3rem;
  padding: 20px;
}

/*/ ////////////////////////*/
body {
  max-height: 100vh;
}
main {
  background-color: aquamarine;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main__contenedor-total {
  /* background-color: rgb(226, 177, 255); */
  min-width: 320px;
  max-width: 800px;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}
/* ///////////////////////////////// */
.main__seccion-mensajes {
  /* background-color: darkmagenta; */
  height: 600px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.main__contenedor-mensajes {
  /* background-color: rgb(214, 221, 255); */
  /* width: 100%; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
  justify-content: end;
  /* scroll-behavior: smooth; */

  scroll-behavior: smooth;
  overflow: visible;
  bottom: 0;
}

.main__mensaje {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.121);

  display: flex;
  /* width: 90%; */
}
.mensaje__nombre {
  /* background-color: rgb(192, 196, 255); */
  width: max-content;
  font-weight: bold;
  font-size: 2rem;
  color: blue;
}

.mensaje__fecha {
  /* background-color: rgb(255, 174, 174); */
  font-size: 1.5rem;
  color: rgb(131, 131, 131);
  align-self: flex-end;
  margin-top: 5px;
}

.mensaje__texto {
  font-size: 1.8rem;
}

/* ///////////////////////////////// */
.main__seccion-editor {
  background-color: rgb(171, 160, 255);
  padding: 10px;
}
.main__editor {
  display: flex;
  flex-direction: column;
}
.editor__nombre {
  font-size: 2rem;
  padding-bottom: 5px;
  font-weight: bold;
}
.main__editor input {
  font-size: 1rem;
}
.main__editor button {
  font-size: 2rem;
}

.editor__input-mensaje {
  /* height: 80px; */
  word-wrap: break-word;
  height: max-content;
  min-width: 100%;
  max-width: 100%;
  height: 80px;
  min-height: 80px;
  font-size: 2rem;
  padding: 5px;
}
.editor__boton-enviar {
  margin-top: 5px;
}
/*/////////////////////////*/

footer {
  background-color: rgb(164, 255, 177);
  font-size: 3rem;
  padding: 20px;
}
