* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
}
ul,
ol {
  list-style: none;
}

/*/////////////////////////*/
header {
  background-color: rgb(255, 148, 109);
  font-size: 2rem;
  padding: 10px;
  position: sticky;
  top: 0;
}

/*/ ////////////////////////*/
html {
  background-color: rgb(138, 118, 170);
}
body {
  background-color: darkmagenta;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  justify-content: space-between;
}
main {
  background-color: aqua;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* padding: 30px 0 0 0; */
}

/* ////////////////////////////////////////////////////////////////// */

.main__contenedor-total {
  background-color: rgb(0, 255, 68);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  max-height: calc(100vh -2rem);
}
/* ///////////////////////////////// */
.main__seccion-mensajes {
  background-color: rgb(255, 9, 9);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow: hidden;
}
.main__contenedor-mensajes {
  /* background-color: rgb(214, 221, 255); */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.main__mensaje {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.056);
  display: flex;
}
.mensaje__nombre {
  /* background-color: rgb(192, 196, 255); */
  width: max-content;
  font-weight: bold;
  color: blue;
}
.mensaje__nombre::first-letter {
  text-transform: uppercase;
}
.mensaje__fecha {
  /* background-color: rgb(255, 174, 174); */
  color: rgb(131, 131, 131);
  align-self: flex-end;
  margin-top: 5px;
  font-size: 1.4rem;
}

/* ///////////////////////////////// */
.main__seccion-editor {
  background-color: rgb(32, 3, 255);
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 160px;
  max-width: 800px;
}
.main__seccion-editor div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.main__editor {
  display: flex;
  flex-direction: column;
}

.main__editor button {
  font-size: 2rem;
}

.editor__input-mensaje {
  /* height: 80px; */
  word-wrap: break-word;
  height: max-content;
  min-width: 100%;
  max-width: 100%;
  height: 80px;
  min-height: 80px;
  padding: 5px;
}
.editor__boton-enviar {
  margin-top: 5px;
}
.editor__color {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
/*/////////////////////////*/
