* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
}
ul,
ol {
  list-style: none;
}
/*/////////////////////////*/
body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
/*/ ////////////////////////*/
header {
  /* height: 3rem; */
  height: 5rem;
  background-color: rgb(127, 100, 237);
  background-color: #323047;
  background-color: #4e3c84;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

/*/////////////////////////*/
main {
  background-color: aquamarine;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343639;
}

.main__contenedor-formulario {
  background-color: #623ada;
  width: 90%;
  height: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  border-radius: 5px;
  max-height: 500px;
}

.formulario {
  flex-direction: column;
  /* background-color: rgb(198, 60, 198); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.formulario > section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.formulario__titulo {
  font-size: 3rem;
  color: white;
}
.formulario > div {
  height: 20px;
  /* background-color: rgb(70, 198, 87); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario label {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}
.bloque__titulo {
  margin-bottom: 0.2rem;
  color: rgb(184, 184, 184);
  margin-bottom: 0.5rem;
  color: #11092b;
}
.bloque__input {
  /* background-color: rgb(0, 255, 51); */
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.bloque__ayuda {
  font-size: 1.4rem;
  color: antiquewhite;
  text-align: center;
  margin-top: 2rem;
  color: #cec0fc;
}
.bloque__ayuda a {
  font-size: 1.4rem;
  color: rgb(198, 198, 198);
  text-decoration: none;
  color: white;
}
.bloque__ayuda a:hover {
  color: #9f8cde;
}
.formulario__boton {
  border: none;
  background-color: rgb(66, 193, 81);
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  background-color: #323047;
  color: #cec0fc;
}
.formulario__boton:hover {
  background-color: #2b2a3d;
}
/*/ ////////////////////////*/
footer {
  background-color: rgb(69, 69, 69);
  color: white;
  /* height: 3rem; */
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: white;
  text-decoration: none;
}
